<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<div class="container mx-auto mt-10 max-w-md">
    <h2 class="text-2xl font-semibold mb-6">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->

        <div class="mb-4">
            {{ form.email.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.email(class="block w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-indigo-200") }}
            {% if form.email.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form.password.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.password(class="block w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-indigo-200") }}
            {% if form.password.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex items-center">
            {{ form.remember_me(class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded") }}
            {{ form.remember_me.label(class="ml-2 block text-sm text-gray-900") }}
        </div>

        <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 mt-6 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-300">
            {{ form.submit.label.text }}
        </button>
    </form>
    <p class="mt-4 text-sm text-gray-600">Don't have an account? <a href="{{ url_for('auth.forgot_password') }}" class="text-indigo-600 hover:underline">Forgot your password?</a></p>
    <p class="mt-4 text-sm text-gray-600">Don't have an account? <a href="{{ url_for('auth.register') }}" class="text-indigo-600 hover:underline">Sign up here</a></p>
</div>
</html>


