{% extends "base.html" %}


{% block title %} Verify otp{% endblock %}
{% block body_class %}bg-gray-100 flex items-center justify-center h-screen{% endblock %}

{% block content %}
<div class="bg-white shadow-xl rounded-2xl p-8 w-96">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-4">Verify Your OTP</h2>
    <p class="text-sm text-gray-600 text-center mb-6">Enter the 6-digit code sent to your email.</p>

    <form method="POST" class="space-y-4">
        <input type="text" name="otp" placeholder="Enter OTP"
            class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:outline-none"
            maxlength="6" required />

        {% if error_message %}
            <p class="text-red-500 text-sm text-center">{{ error_message }}</p>
        {% endif %}

        <button type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-lg transition duration-200">
            Verify
        </button>
    </form>

</div>
{% endblock %}