<!-- File ./templates/index.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>{{ username }}'s Watchlist</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.stock.label }} {{ form.stock() }}
        <button type="submit">Add Stock</button>
    </form>

    <h2>Your Watchlist</h2>
    <ul>
        {% for stock in user_stocks %}
            <li>{{ stock.symbol }}</li>
        {% endfor %}
    </ul>

    <h2>Stock Suggestions</h2>
    <ul>
        {% for stock in stocks %}
            <li>{{ stock }}</li>
        {% endfor %}
    </ul>
</body>
</html>
</html>